/* Importar fuente Monserrat desde googleFonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat', 'sans-serif';
}


/*      Variables pare  reutilizar estilos */
:root {
  --primary-color: #F8F2FF;
  --secondary-color:  #792EDE;
  --complementary-color: #5E18BB;
}
